<ion-header>
  <ion-toolbar>
    <ion-title>Visualize dependencies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <p>Seems like you're brave enough to check the development status!</p>
    <p>First of all, upload a .txt file that contains a set of RFDs:</p>
    <ion-item>
      <ion-label>File uploader:</ion-label>
      <ion-input type="file" accept=".txt, text/plain" (change)="analyzeFile($event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Logs:</ion-label>
      <ion-textarea [(ngModel)]="fileLogs" rows="10" readonly></ion-textarea>
    </ion-item>
  </div>
</ion-content>