<ion-header>
  <ion-toolbar>
    <ion-title>Visualize Minimal RFDs Set</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <p>First of all, upload a .txt file that contains a set of RFDs and insert the threshold:</p>

    <ion-grid>
      <ion-row [hidden]='hideButton'>
        <ion-col size="8">
          <div>
            <ion-item>
              <ion-label position="stacked">File uploader:</ion-label>
              <ion-input type="file" accept=".txt, text/plain" (change)="setFile($event)"></ion-input>
            </ion-item>
          </div>
        </ion-col>
        <ion-col size="2">
          <div>
              <ion-item>
                <ion-label position="floating">Threshold:</ion-label>
                <ion-input type="number" min="0" value="0" [(ngModel)]="threshold"></ion-input>
              </ion-item>
          </div>
        </ion-col>
        <ion-col size="2">
          <div>
            <ion-button color="primary" expand="block" (click)="analyzeFile()">
              <ion-icon name="analytics"></ion-icon>
              Analyze
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <ion-item>
                <ion-label>Show/hide logs</ion-label>
                <ion-toggle (ionChange)="toggleLogs()"></ion-toggle>
            </ion-item>
            <ion-item [hidden]="hideLogs">
              <ion-label position="stacked">Logs:</ion-label>
              <ion-textarea [(ngModel)]="fileLogs" rows="10" readonly></ion-textarea>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row [hidden]='!hideButton'>
        <ion-col>
          <div class="ion-text-center">
            You can check the result below. You must refresh the page if you want to analyze another dataset.
          </div>
        </ion-col>
      </ion-row>
      <!-- <ion-row [hidden]='!hideButton'>
        <ion-col size="2">Legend:</ion-col>
        <ion-col size="4">ToDo: RHS Legend and LHS Legend</ion-col>
      </ion-row> -->
    </ion-grid>
    <div id="rfdHeatmap" style="text-align:center;"></div>
  </div>
</ion-content>