<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="home"></ion-icon>
      The dark side of Dependensee
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <p>
      This page has been made for testing purposes.
    </p>
    <p>
      Just upload a .txt file that contains RFDs.
      <br/>Keep in mind that there isn't any kind of check!
    </p>
    <input id="uploadFile" capture="attach" type="file" accept=".txt, text/plain" (change)="analyzeFile($event)">
  </div>
  <div class="ion-padding">
      <ion-item>
        <ion-label position="stacked">File uploaded info</ion-label>
        <ion-textarea
          disabled
          readonly
          [(ngModel)]="fileDebug"
          rows="18">
        </ion-textarea>
      </ion-item>
  </div>
</ion-content>
